@model JmSantosAT_Final_Rafael.Models.Amigo

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Amigo</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label >Nome do amigo</label>
                <input asp-for="AmigoNome" class="form-control" />
                <span asp-validation-for="AmigoNome" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label>Sobrenome do amigo</label>
                <input asp-for="AmigoSobrenome" class="form-control" />
                <span asp-validation-for="AmigoSobrenome" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label>Telefone do amigo</label>
                <input asp-for="AmigoTelefone" class="form-control" />
                <span asp-validation-for="AmigoTelefone" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label>Email do amigo</label>
                <input asp-for="AmigoEmail" class="form-control" />
                <span asp-validation-for="AmigoEmail" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label>Data de aniversário do amigo</label>
                <input asp-for="AniversarioAmigo" class="form-control" />
                <span asp-validation-for="AniversarioAmigo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label>País de origem do amigo</label>
                <input asp-for="PaisAmigo" class="form-control" />
                <span asp-validation-for="PaisAmigo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label>Estado do país do amigo</label>
                <input asp-for="EstadoAmigo" class="form-control" />
                <span asp-validation-for="EstadoAmigo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label>Foto do amigo</label>
                <input asp-for="ImagemAmigo" class="form-control" />
                <span asp-validation-for="ImagemAmigo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
